{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Action": "SQS:ReceiveMessage",
      "Resource": "arn:aws:sqs:{{ region }}:{{ aws_account }}:{{ queue_name }}"
    }
  ]
}