{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Effect": "Allow",
            "Principal": {
                "Federated": "{{ principal }}"
            },
            "Action": "{{ action }}",
            "Condition": {
                "StringEquals": {
                    "{{ condition_key }}": "{{ condition_value }}"
                }
            }
        }
    ]
}